torch==1.6.0
torchvision==0.7.0
opencv-python==4.4.0.44
open3d==0.10.0.0
numpy==1.19.2
PyYAML==5.4
matplotlib
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
tensorboardX==2.1
tqdm==4.50.2
trimesh==2.38.39
easydict==1.9
plyfile==0.7.2
torchviz==0.0.1
seaborn==0.11.0
Shapely==1.7.1
graphviz==0.14.2
scikit-learn-extra
ipython
pyntcloud==0.1.2
pyrender
glob
gdown
torchsummary
gpustat==0.6.0
easydict
joblib
matplotlib
ninja
termcolor
https://github.com/PyMesh/PyMesh/releases/download/v0.2.1/pymesh2-0.2.1-cp36-cp36m-linux_x86_64.whl
